{% extends "base.html" %}

{% block title %}Drugs Management - HIS{% endblock %}

{% block page_title %}
<i class="fas fa-pills me-2"></i>Drugs Management
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Drugs Management</h5>
                <p class="card-text">This page is under development. Drug management functionality will be available soon.</p>
                
                <div class="text-center">
                    <i class="fas fa-construction fa-3x text-muted mb-3"></i>
                    <p class="text-muted">Coming Soon</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
